.appWrapper {
  display: flex;
}
.contentWrapper {
  flex-grow: 1;
  padding: 1rem;
}
.title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
  margin-bottom: 2rem;
  border: 2px solid #3b82f6;
  border-radius: 12px;
  background-color: #eff6ff;
  color: #1e40af;
  box-shadow: 0 4px 8px rgba(59, 130, 246, 0.1);
}

.homePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 4rem); /* с учётом отступов */
  text-align: center;
  color: #1f2937;
}

.homePage h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.homePage p {
  font-size: 1.25rem;
  color: #4b5563;
}
